body {
   background-image: linear-gradient(to bottom right, rgba(0, 0, 255, 0.85), rgba(128,0,128, 0.85));
}
form{
   box-shadow: 10px 10px 20px;
   border-radius: 25px;
   background-color: #ffffff17;
   backdrop-fiter: blur(12px);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 1%;
}
p{
   font-family: "Sans-serif", Verdana;
   text-align: center;
   color: rgba(256, 256, 256, 0.4);
   font-size: 30px;
   margin-bottom: 2px;
   transition-duration: 0.4s;
}
.brighten {
   color: rgba(256, 256, 256, 0.7);
   transition-duration: 0.4s;
}
input{
   border-radius: 0px;
   height: 40px;
}
h1{
   font-family: "Sans-serif", Verdana;
   text-align: center;
   color: rgba(256, 256, 256, 0.5);
   font-size: 40px;
   padding-left: min(10px);
   padding-right: min(10px);
}
#button{
   width: 200px;
   border-radius: 20px;
   font-size: 20px;
   color: rgba(256, 256, 256, 0.3);
   transition-duration: 0.2s;
   border: 2px solid #7B7485;
   margin-bottom: 25px;
   background-color: rgba(256, 256, 256, 0.1);
   border-color: transparent;
}
#button:hover {
   background-color: #7B7485;
   color: rgba(256, 256, 256, 0.8);
   border: 2px solid #7B7485;
   background-color: rgba(256, 256, 256, 0.3);
   border-color: transparent;
   box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.3), 10px 8px 15px rgba(0, 0, 0, 0.1);
   transition-duration: 0.4s;
}
#button2{
   width: 200px;
   border-radius: 20px;
   font-size: 20px;
   color: rgba(256, 256, 256, 0.3);
   transition-duration: 0.2s;
   border: 2px solid #7B7485;
   margin-bottom: 25px;
   background-color: rgba(256, 256, 256, 0.1);
   border-color: transparent;
}
#button2:hover {
   background-color: #7B7485;
   color: rgba(256, 256, 256, 0.8);
   border: 2px solid #7B7485;
   background-color: rgba(256, 256, 256, 0.3);
   border-color: transparent;
   box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.3), 10px 8px 15px rgba(0, 0, 0, 0.1);
   transition-duration: 0.4s;
}
.gear{
   height: 50px;
   width: 50px;
   bottom: 10px;
   right: 10px;
   position: fixed;
   fill: rgba(256, 256, 256, 0.3);
   transform: rotate(-45deg);
   transition-duration: 0.5s;
}
.gear:hover{
   fill: rgba(256, 256, 256, 0.5);
   transform: rotate(45deg);
   transition-duration: 0.5s;
}
label input {
   visibility: hidden;
   display: block;
   height: 0;
   width: 0;
   position: absolute;
   overflow: hidden;
}
label span {
   background-color: rgba(256, 256, 256, 0.1);
   border-radius: 4px;
   height: 20px;
   width: 20px;
   margin-left: 12px;
   border: none;
   display: inline-block;
}
[type=checkbox]:checked + span{
   background-color: rgba(256, 256, 256, 0.5);
/*   content: "✔";*/
}


/*[type=checkbox]:checked + span:before {
  content: "✔";
}*/
.input{
   color: rgba(256, 256, 256, 0.3);
   font-size: 15px;
   width: 200px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   margin: auto;
   padding: 0 10px;
   text-align: center;
   caret-color: transparent;
   border: 2px solid #7B7485;
   background-color: rgba(256, 256, 256, 0.1);
   border-color: transparent;
   transition-duration: 0.4s;
}
.input:focus{
   color: rgba(256, 256, 256, 0.5);
   box-shadow: -10px 8px 15px rgba(0, 0, 0, 0.3), 10px 8px 15px rgba(0, 0, 0, 0.3);
   border: 2px solid #7B7485;
   outline: none;
   background-color: rgba(256, 256, 256, 0.3);
   border-color: transparent;
   transition-duration: 0.4s;
}

@keyframes shake {
  10% {transform: translateX(4px) rotate(3deg);}

  20% {transform: translateX(-4px) rotate(-3deg);}

  30% {transform: translateX(4px) rotate(3deg);}

  40% {transform: translateX(-4px) rotate(-3deg);}

  50% {transform: translateX(3px) rotate(2deg);}

  60% {transform: translateX(-3px) rotate(-2deg);}

  70% {transform: translateX(3px) rotate(2deg);}

  80% {transform: translateX(-3px) rotate(-2deg);}

  90% {transform: translateX(1px) rotate(1deg);}

  100% {transform: translateX(-1px) rotate(-1deg);}
}
.shake {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.hide{
   display: none;
}
