{% extends 'base.html' %}

<!-- <h1>{% block title %}New Post{% endblock %}</h1>
 -->

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename ='form_style2.css') }}">

<!--   <form method="post">
    <p for="title">Title</p>
    <input class="input" type="text" name="title" id="title" value="{{ request.form['title'] }}" required>
    <p for="body">Body</p>
    <input class="input" type="text" name="body" id="body">{{ request.form['body'] }}</input>
    <p><input id="button" type="Submit" value="Save"><p>
  </form> -->


  <form method="post" id="form" enctype="multipart/form-data">
    <div id="t">
            <p id="title_Text">Title</p>
            <input class="input" id="title" type="text" name="title" autocomplete="off"/>
    </div>
    <div id="b">
            <p id="body_Text">Body</p>
            <input class="input" id="body" type="text" name="body" autocomplete="off"/>
    </div>
    <div id="s">
            <p><input id="button" type="button" value="Post"></p>
    </div>
    <div id="i">
            <p><input id="file" type="file" name="file" value="File Upload"></p>
    </div>
        </form>
<script type="text/javascript" src="{{ url_for('static',filename ='form_script3.js') }}"></script>
{% endblock %}
