<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



<div class="topnav">
    {% if g.user %}
      <a href="{{ url_for('blog.profile') }}"> {{ g.user['username'] }}</a>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    <a href="{{ url_for('blog.create') }}">Create</a>
    <a href="{{ url_for('blog.index') }}">Explore</a>
</div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% block content %}{% endblock %}
</section>
