<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- <div class="topnav">
    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <a class="active" href="#home">Explore</a>
  <a href="#news">Education</a>
  <a href="#contact">Create</a>
  <a href="#about">Sign Up</a>
</div> -->


<div class="topnav">
    {% if g.user %}
      <a href="{{ url_for('blog.profile') }}"> {{ g.user['username'] }}</a>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    <a href="{{ url_for('blog.create') }}">Create</a>
    <a href="{{ url_for('blog.index') }}">Explore</a>
</div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% block content %}{% endblock %}
</section>
